# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: thiru951/petclinic:latest
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: petclinic-data
          mountPath: /jenkins-k8/
      volumes:
      - name: petclinic-data
        hostPath:
          path: /jenkins-k8/
          type: Directory

